.Header {
  height: 55px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0, 0.05);
}

.BarLink {
  text-decoration: none;
}

.BarLink p {
  margin-top: 0px;
  padding: 18px 18px;
  letter-spacing: 3px;
  font-size: 15px;
  color: #555;
}

.ContentWrapper {
  margin-top: 50px;
  width: 90%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ContentWrapper.Content {
  width: 1132px;
}