.Card {
  display: inline-block;
  float: none;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0, 0.05);
  border-bottom: 1px solid rgba(0,0,0, 0.05);
}

.Card .Description {
  height: auto;
}

.Card .Description {
  width: 95%;
  margin: 0 2.5%;
}

.Card .Block {
  text-align: left;
  width: 20%;
  line-height: 5px;
  display: inline-block;
}

.Description h5 {
  font-weight: 700;
  color: #777;
}

.edit, .delete {
  display: inline-block;
  float: none;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 48px;
  margin: 1px;
}

.delete {
  padding: 5px;
  background-color: #ff0000d4;
}

.edit {
  text-decoration: none;
  background-color: #555;
  text-align: center;
  padding: 10px 5px;
  font-size: 13px;
}

p {
  line-height: 20px;
}