.Container {
  width: 100%;
  text-align: center;
}

.Wrapper {
  width: 100%;
  display: inline-block;
  text-align: left;
}

.Title, .AddButton, .error {
  display: inline-block;
}
.Title, .error {
  text-align: left;
  margin-bottom: 30px;
}

.AddButton {
  text-align: right;
}

.error {
  color: red;
}

.AddButton a {
  text-decoration: none;
  background-color: #3c85fe;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Title h2 {
  font-weight: 400;
  color: #777;
}

.Title, .AddButton {
  width: 50%;
  display: inline-block;
}

.error {
  width: 100%;
}

.filterTitle {
  width: 20%;
  display: inline-block;
  float: none;
}

.filter {
  width: 40%;
  display: inline-block;
  float: none;
}

.Pagination {
  display: inline-block;
  margin-bottom: 20px;
}

.Pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.Pagination a.Active {
  background-color: #4CAF50;
  color: white;
}

.Pagination a:hover:not(.Active) {background-color: #ddd;}

form {
  text-align: left;
  width: 550px;
}

select, input {
  background-color: #fff;
  padding: 0 10px;
}

input {
  height: 28px;
  width: 380px !important;
}

select {
  height: 35px;
  width: 405px !important;
}

input, select, label .UploadFile {
  margin: 12px 10px;
}

label, label div {
  width: 120px;
  font-size: 15px;
  color: #555;
}

input, select, label, label div, label .UploadFile {
  display: inline-block;
  float: none;
}

.Container {
  width: 100%;
  text-align: center;
}

.Wrapper {
  width: 1132px;
  display: inline-block;
}

input, select {
  width: 80%;
}

input[type=submit] {
  width: 130px !important;
}

.UploadFile {
  width: 150px !important;
}
input[type=submit], .UploadFile {
  background-color: #3c85fe;
  height: 50px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 40px 0;
}

input[type="file"] {
  display: none;
}

.PhotoLabel {
  width: 550px;
}

button.red {
  background-color: red;
}