.Card {
  display: inline-block;
  float: none;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0, 0.05);
  margin-bottom: 5px;
}

.Card .Description {
  height: auto;
}

.Card .Description {
  width: 95%;
  margin: 0 2.5%;
}

.Card .Block {
  text-align: left;
  width: 20%;
  line-height: 5px;
  display: inline-block;
}

.Description h3 {
  font-weight: 700;
  color: #777;
}